<h1><%= dt("#{controller_name}.#{action_name}.title", :model => dt("#{controller_name}.#{action_name}.model")) %></h1>
<%= render :partial => "topics", :locals => { :topics => @topics } %>
<div class="form-actions">
	<%= link_to dt('actions.new', :model => Topic.model_name.human), new_topic_path, :class => 'btn btn-success' %>
</div>
