<h1><%= dt("#{controller_name}.#{action_name}.title", :model => dt("#{controller_name}.#{action_name}.model")) %></h1>
<%= render :partial => "groups", :locals => { :groups => @groups } %>
<div class="form-actions">
	<%= link_to dt('actions.new', :model => Group.model_name.human), new_group_path, :class => 'btn btn-success' %>
</div>
