html {
  position: relative;
  min-height: 100%;
}

body { 
margin-bottom: 60px;
padding-top: 0;
width:auto;
.body{
  widht: 100%;
  background-color: #F0F0EF;
}

.full{
  width:100%;
  background-color:#2A2A2A; 
  height:52px;
}
.full1{
  background-color:#2A2A2A; 
  height:52px;
}

.full3{
  background-color:white;
  margin:2px;
}
.full4{
  width:100%
}
    
 }


.page-header {
  margin: 2px;
  height: 271px;
  background: image-url('header.png');
}


#header {
  height: 150px;
    width: 100%;
  background-color: #00AEEF;
  padding-top: 0;

#userSetting{
  floating: right;
}
  #create-event {
    padding-top: 15px; 
  }
}

.content { padding-top: 50px; }

.footer{
  background-color: #D8D8D8;
  color: black;
  padding-bottom: 10px;
  margin: 2px;
}

#main .body{
  background-color: #D8D8D8;
}


.copyright{
  background-color: #999999;
  position: center;
  padding: 10px;
  padding-bottom: 1px;
  hight: 2px;
  color: Black;
}