<header>
<div class="page-header">
<div id="title">
	<h1>TSSCDCR</h1>
	<ul class="definition">
	<li>Translational</li>
	<li>Systems</li>
	<li>Science</li>
	<li>Center for</li>
	<li>Disparate</li>
	<li>Cancer</li>
	<li>Research</li>
	</ul>
</div>
</div>
</header>